* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

nav {
    box-shadow: 0 1px 1px 2px whitesmoke;
    padding: 2px;
    background-color: white;
    display: fixed;
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
    align-items: center;
}

.nav ul a:hover {
    color: black;
    transition: 1s;
}

span {
    display: flex;
    font-size: 48px;
    align-items: center;
    font-weight: 700;
}

.da {
   color: blueviolet;

}

.home {
    display: flex;
    flex-direction: row;
}

a {
    margin: 0 14px;
    text-decoration: none;
    font-size: 16px;
    color: blueviolet;
    font-weight: 700;
}

.header {
    padding: 5vh;
    columns: 2;
    column-gap: 16%;
    display: flex;
    align-content: center;
    justify-content: center;

}

.header div {
    padding: 10px 0;
}

.main {
    
    padding: 25px;
}

.mainText {
    font-size: 2.2rem;
    font-weight: bold;

}

.text1 {
    color: blueviolet;
}

button {
    font-size: 20px;
    margin: 10px;
    color: white;
    padding: 15px;
    background-color: black;
    border-radius: 5px; 
    cursor: pointer;
    border: none;
}
.button2 {
    background-color: #8a2be2;
    margin-right: 20px;
    cursor: pointer;
}

.button1:hover {
    background-color: #8a2be2;
    transition: 1s;
}

.button2:hover {
    background-color: black;
    transition: 1s;
}

iframe {
    border: 5px solid #8a2be2 ;
}

.about {
    font-size: 16px;
    background: url('../images/streamer-transmite.jpg');

    height: 600px;
    background-size:  cover;
    background-position: end;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
        
}

.about h1 {
    padding: 5px;
    font-size: 2.9rem;
    text-shadow: 1px 2px 1px black;
}

.about p {
    padding: 5px;
    font-size: 1.8rem;
    text-shadow: 1px 2px 1px black;
}



.galeria {
    display: grid;
    grid-template-areas: 
    "diana alan alan jovirone"
    "diana alan alan jovirone"
    "diana casimiro nivi pato"
    ;
    margin: 5rem auto;
    height: 85vh;
    width: 100%;
    
}
 
.img {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100%;
    width: 100%;
}

#diana {
    background: url('../images/streamer-diana.jpg');
    grid-area: diana;
}

#alanzoka {
    background: url('../images/streamer-alanzoka.jpeg');
    grid-area: alan;
}

#jovirone {
    background: url('../images/streamer-jovirone.jpg');
    grid-area: jovirone;
}

#casimiro {
    background: url('../images/streamer-casimiro.jpg');
    grid-area: casimiro;
}

#nivi {
    background: url('../images/streamer-nivi.png');
    grid-area: nivi;
}

#pato {
    background: url('../images/streamer-pato.jpg');
    grid-area: pato;
}


.container {
    height: 200px;
    display: flex;
    columns: 3;
    column-gap: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10%;
    
}

.container img {
    border-radius: 10px;
}

.name {
    color: blueviolet;
}

.register {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.email{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #8a2be2;
}

.sub {
    font-size: 15px;
    padding: 4px;
    border: none;
    border-radius: 0;
    background-color: #8a2be2;
}

.up {
    height: 3rem;
    right: 0.5%;
    position: fixed;
    bottom: 3%;
    cursor: pointer;
}

.redes {
    font-size: 13px;
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.redes a {
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    box-shadow: 0 -1px 1px 2px whitesmoke;
}


